html,
body {
  margin: 0;
}

:root {
  --krol: url("./images/krol.png");
  --grey: #ebebeb;
  --blue: #3ca2f5;
}

.header {
  width: 100vw;
  height: 60px;
  position: fixed;
  background-color: white;
  z-index: 2;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.header > div {
  position: absolute;
  width: 32vw;
  left: 50%;
  margin-left: -16vw;
  height: 36px;
  display: flex;
  flex-direction: row;
}

.header input {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 36px);
  border-radius: 6px 0 0 6px;
  border-color: var(--grey);
}

.search {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border: solid;
  border-width: 2px;
  border-radius: 0 6px 6px 0;
  border-color: var(--grey);
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}
.search div {
  background-image: url("./images/search.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.side-panel {
  position: fixed;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  top: 60px;
}

.side-scroll {
  overflow-y: scroll;
  height: 100%;
}

.side-item {
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 12px 0;
  cursor: pointer;
}

.side-item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-item-left > span:hover {
  color: var(--blue);
}

.side-item-left-image-container {
  background-color: white;
  border-radius: 100px;
  margin-right: 12px;
}

.side-item-left-image {
  background-color: white;
  background: var(--krol);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.side-item-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-item-red {
  margin-right: 6px;
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.side-bottom {
  height: 180px;
  border-top: solid 1px white;
  box-sizing: border-box;
  padding: 12px;
  -webkit-box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.1);
}

.side-bottom-block {
  width: 100%;
  height: 100%;
  background-color: #cfcfcf;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  /* background-color: red; */
  width: calc(100vw - 250px);
  min-height: calc(100vh - 60px);
  top: 60px;
  left: 250px;
  position: relative;
  box-sizing: border-box;
  padding: 12px;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
}

.categories div {
  margin-right: 12px;
  padding: 15px 28px;
  border-radius: 100px;
  border: solid 1px var(--grey);
  cursor: pointer;
}

.categories div:hover {
  background: #e9e9e9;
}

.categories div:nth-child(1) {
  background: #a954e9;
  color: white;
}

.carousel {
  width: 100%;
  box-sizing: border-box;
  padding: 0 18%;
  position: relative;
  height: 28vw;
  margin: 40px 0;
}

.carousel-item {
  height: 28vw;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--grey);
  position: absolute;
  width: 64%;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.carousel-item:nth-child(1) {
  z-index: 2;
}

.carousel-item:nth-child(2) {
  margin-left: -11%;
  transform: scale(0.9);
  z-index: 1;
}
.carousel-item:nth-child(4) {
  margin-left: -18%;
  transform: scale(0.8);
  z-index: 0;
}
.carousel-item:nth-child(3) {
  margin-left: 11%;
  transform: scale(0.9);
  z-index: 1;
}
.carousel-item:nth-child(5) {
  margin-left: 18%;
  transform: scale(0.8);
  z-index: 0;
}

.carousel-item-left {
  width: 65%;
  background-image: url("./images/3df535a7f62f677e13bea40678fb95015253fd02_s2_n1_1590673466-1280x640.jpeg");
  background-position: center;
  background-size: cover;
}

.carousel-item-left-hover {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}

.carousel-item-left:hover .carousel-item-left-hover {
  opacity: 0.1;
}

.carousel-item-right {
  width: 35%;
  box-sizing: border-box;
  padding: 12px;
}

.videos {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.video {
  margin: auto;
  width: 98%;
  height: 20vw;
  margin-bottom: 12px;
}

.video-img {
  background-image: url("./images/3df535a7f62f677e13bea40678fb95015253fd02_s2_n1_1590673466-1280x640.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .side-item-right,
  .side-item-left span,
  .side-bottom {
    display: none;
  }
  .side-panel {
    width: 74px;
  }

  .main {
    width: calc(100vw - 74px);
    left: 74px;
  }
}
